{% extends 'base.html' %}
{% load humane_date %}
{% load emarkdown %}

{% block title %}
    Recherche
{% endblock %}

{% block headline %}
    Recherche
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="javascript:;">Recherche</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <form method="get" action=".">
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button type="submit" class="button">Rechercher</button>
                    </td>
                </tr>
            </table>
            {% if query %}
                {% if page.object_list %}
                    <h3>Resultats</h3>
                        <table>
                          <thead>
                            <tr>
                              <th>Sujet</th>
                              <th width="15%">Quand</th>
                              <th width="55%">Extrait</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for result in page.object_list %}
                            
                            <tr>
                              <td>
                                <a href="{{ result.object.topic.get_absolute_url }}">
                                    {{ result.object.topic.title }}
                                </a>
                                <p>{{ result.object.topic.subtitle }}</p>

                                <a href="{{ result.object.get_absolute_url }}">
                                    {{ result.object.title }}
                                </a>
                                {% if result.object.chapter %}
                                    {% with tutorial=result.object.chapter.get_tutorial %}
                                        <p>Dans <a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a>.</p>
                                    {% endwith %}
                                {% else %}
                                    <p>{{ result.object.description|truncatechars:80 }}</p>
                                {% endif %}
                              </td>
                              <td>
                                {% if result.object.chapter %}
                                  <a href="{{ result.object.chapter.get_absolute_url }}">{{ result.object.chapter.get_tutorial.pubdate|humane_date }}</a>
                                {% else %}
                                  <a href="{{ result.object.get_absolute_url }}">{{ result.object.pubdate|humane_date }}</a>
                                {% endif %}
                              </td>
                              <td>
                                  {% if result.object.last_message %}
                                      {{ result.object.first_post.text|truncatechars:200|emarkdown }}
                                  {% else %}
                                      {{ result.object.text|truncatechars:200|emarkdown }}
                                  {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Page précédente{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Page suivante &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="panel">
                        <p>Aucun résultat trouvé.</p>
                    </div>
                {% endif %}
            {% endif %}
        </form>
    </div>
{% endblock %}
